* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #222;
    color: white;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid white;
    border-radius: 20px;
    padding: 1rem;
}
input{
    outline: none;
    border: 1px solid white;
    background: none;
    padding: 10px;
    color: white;
}
button{
    padding: 10px 20px;
    background-color: bisque;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
button:hover{
    background-color: rgba(255, 228, 196, 0.556);
}
textarea{
    outline: none;
    border: 1px solid white;
    background: none;
    padding: 10px;
    color: white;
}